@charset "utf-8";
@import url(./my_reset.css);
:root {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  --dark-c1: #222;
  --light-c1: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--dark-c1);
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.inner {
  width: calc(100% - 60px);
  max-width: 1600px;
  margin: auto;
}

img {
  width: 100%;
}

.wrap {
  overflow: hidden;
}

/* 공통 header */
header {
  height: 700px;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
  position: relative;
  z-index: 1;
}

header .banner_txt {
  width: calc(100% / 2);
}

header .title {
  margin-bottom: 2rem;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

header .title span {
  padding: 1.3rem 1.5rem;
  font-size: 1rem;
  font-weight: normal;
}

header .dec {
  margin-bottom: 15%;
  display: flex;
  align-items: flex-start;
}

header .dec ul {
  margin-right: 5%;
}

header .dec p {
  margin-bottom: 22px;
  font-size: 0.9rem;
  color: #4c4c4c;
}

header .dec li {
  margin-bottom: 0.2rem;
}

header .dec li {
  font-size: 1rem;
}

header .site_con a {
  padding: 0.6rem 5%;
  border: 1px solid var(--dark-c1);
  border-radius: 30px;
  margin-right: 3%;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.3s;
}

header .site_con a:hover {
  background-color: var(--dark-c1);
  color: var(--light-c1);
}

/* 공통 footer */
.foot_top .inner {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot_top p {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 20px;
}

.foot_top span {
  margin-right: 0.8rem;
}

.fullpage-nav {
  font-weight: bold;
  text-align: center;
  color: var(--dark-c1);
}

.fullpage-nav span {
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-c1);
  border-radius: 50%;
  margin: auto;
  display: block;
  transition: 0.3s;
}

.fullpage-nav .goTop_btn {
  font-weight: bold;
  text-align: center;
}

.fullpage-nav:hover span {
  transform: translateY(-30%);
}

footer .foot_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .foot_bottom > * {
  width: calc(100% / 2);
  height: 200px;
  font-weight: bold;
  color: var(--light-c1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer .foot_bottom a {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

footer .foot_bottom a:hover {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

footer .foot_bottom span {
  z-index: 1;
}

/* 토프레소 */
header.pro1 {
  background: url(../image/topresso/top_banner.jpg) no-repeat top left;
}

/* contents! */
.contents.pro1 {
  background-color: #dee7f4;
  position: relative;
  z-index: 1;
}

.contents.pro1::before {
  content: "";
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background-color: #ffb57f;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  animation: orange 20s linear infinite none;
}

@keyframes orange {
  0% {
    top: 40%;
    left: -40%;
  }
  100% {
    top: 40%;
    left: 100%;
  }
}

.contents.pro1 .txt_con {
  width: 65%;
  padding-top: 100px;
  margin: auto;
  text-align: center;
}

.contents.pro1 .txt_con .big_txt {
  font-size: 2.4rem;
  font-weight: lighter;
}

.contents.pro1 .txt_con .sub_txt {
  margin-top: 60px;
}

.pro1 h3 {
  font-weight: bold;
  font-size: 36px;
}

.pro1 h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.pro1 .style_guide {
  margin-top: 120px;
}

.pro1 .style_guide h3 {
  margin-bottom: 100px;
}

.pro1 .style_guide .colors_palett {
  display: flex;
  justify-content: space-between;
}

.pro1 .style_guide .typography {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro1 .style_guide .colors_palett {
  display: flex;
  justify-content: space-between;
}

.pro1 .style_guide .color_txt {
  width: 25%;
}

.pro1 .style_guide .color_con {
  width: 65%;
}

.pro1 .style_guide .typography {
  margin-top: 82px;
}

.pro1 .style_guide .typo_txt {
  width: 25%;
}

.pro1 .style_guide .typo_txt p:nth-of-type(2) {
  margin-top: 1.2rem;
}

.pro1 .style_guide .typo_con {
  width: 50%;
}

.pro1 .renewal {
  margin: auto;
  margin-top: 195px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pro1 .renewal .renewal_bg {
  margin-bottom: 80px;
}

.pro1 .renewal .renewal_txt {
  width: 35%;
}

.pro1 .renewal h3 {
  margin-bottom: 42px;
}

footer.pro1 {
  background-color: white;
  color: var(--dark-c1);
}

footer.pro1 .foot_bottom .prev_page {
  background: url(../image/mockup/project3.jpg) no-repeat center;
  background-size: cover;
}

footer.pro1 .foot_bottom .next_page {
  background: url(../image/mockup/project2.jpg) no-repeat center;
  background-size: cover;
}

/* 아트허브 */

header.pro3 {
  background: url(../image/arthub/arthub_head.jpg) no-repeat top left;
}

header.pro3::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pro3 .banner_txt {
  color: var(--light-c1);
}

.pro3 .dec p {
  color: #fdfdfd;
}

.pro3 .site_con a {
  border: 1px solid var(--light-c1);
  color: var(--light-c1);
}

.pro3 .site_con a:hover {
  background-color: var(--light-c1);
  color: var(--dark-c1);
}

/* sub2 contents! */
.contents.pro3 h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.contents.pro3 .txt_con {
  padding-top: 130px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: keep-all;
}

.contents.pro3 .big_txt {
  width: 45%;
  font-size: 2.2rem;
  font-weight: lighter;
}

.contents.pro3 .sub_txt {
  width: 45%;
}

.contents.pro3 .sub_txt p {
  margin-bottom: 1rem;
}

.contents.pro3 .style_guide {
  padding-top: 100px;
  background: rgb(237, 240, 246);
  background: linear-gradient(
    180deg,
    rgba(237, 240, 246, 1) 0%,
    rgba(237, 240, 246, 0) 100%
  );
}

.contents.pro3 .style_guide h3 {
  width: 100%;
  margin-bottom: 80px;
  text-align: center;
}

.contents.pro3 .style_guide h4 {
  margin-bottom: 2.2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.contents.pro3 .style_guide .style_con {
  display: flex;
  justify-content: space-evenly;
}

.contents.pro3 .style_guide .style_con:first-of-type {
  margin-bottom: 70px;
}

.contents.pro3 .style_guide .style_con > * {
  width: 30%;
}

.contents.pro3 .colors_palett ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contents.pro3 .colors_palett h4 {
  width: 100%;
}

.contents.pro3 .color_con {
  padding-right: 5%;
  text-align: center;
}

.contents.pro3 .color_con span {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}

.contents.pro3 .color_con:first-of-type span {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.contents.pro3 .color_con:nth-of-type(2) span {
  background-color: #225099;
}

.contents.pro3 .color_con:last-of-type span {
  background-color: #000;
}

.contents.pro3 .style_guide .grid_width {
  width: 50%;
  margin: auto;
  margin-top: 140px;
}

.contents.pro3 .renewal {
  margin-top: 144px;
  text-align: center;
}
.contents.pro3 .renewal h3 {
  color: #225099;
}

.contents.pro3 .renewal .detail_img {
  width: 90%;
  margin: auto;
}

.contents.pro3 .sub_re .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents.pro3 .sub_re h3 {
  margin-bottom: 120px;
  color: #225099;
}

.contents.pro3 .sub_re p {
  margin-bottom: 1rem;
}

footer.pro3 {
  background-color: #225099;
  color: var(--light-c1);
}

footer.pro3 .fullpage-nav a {
  color: var(--light-c1);
}

footer.pro3 .fullpage-nav span {
  border: 1px solid var(--light-c1);
}

footer .foot_bottom .prev_page {
  background: url(../image/mockup/project2.jpg) no-repeat center;
  background-size: cover;
}

footer .foot_bottom .next_page {
  background: url(../image/mockup/project1.jpg) no-repeat center;
  background-size: cover;
}

/***** 반응형 *****/

@media (max-width: 600px) {
  .banner_txt {
    width: 100% !important;
  }

  header .site_con a {
    font-size: 1rem;
  }

  /* 토프레소 */

  header.pro1 {
    background: url(../image/topresso/top_banner_m.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  @keyframes orange {
    0% {
      top: 60%;
      left: -40%;
    }
    100% {
      top: 60%;
      left: 100%;
    }
  }

  .contents.pro1 .txt_con {
    width: 100%;
  }

  .contents.pro1 .txt_con .sub_txt {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    word-break: keep-all;
  }

  .pro1 .style_guide h3 {
    margin-bottom: 50px;
  }

  .pro1 .style_guide .colors_palett {
    display: flex;
    flex-direction: column;
  }

  .pro1 .style_guide .colors_palett > * {
    width: 100%;
  }

  .pro1 .style_guide .color_con {
    margin-top: 40px;
  }

  .pro1 .style_guide .typography {
    display: flex;
    flex-direction: column;
  }

  .pro1 .style_guide .typography > * {
    width: 100%;
  }

  .pro1 .style_guide .typo_txt {
    padding-right: 20%;
  }

  .pro1 .style_guide .typo_con {
    margin-top: 40px;
  }

  .pro1 .renewal {
    margin-top: 95px;
  }

  .pro1 .renewal .renewal_txt {
    width: 100%;
    margin-bottom: 40px;
  }

  /* 아트허브 */
  header.pro3::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .contents.pro3 .txt_con {
    padding-top: 130px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
  }

  .contents.pro3 .big_txt {
    width: 100%;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: lighter;
  }

  .contents.pro3 .sub_txt {
    width: 100%;
    text-align: left;
  }

  .contents.pro3 .style_guide .style_con {
    justify-content: space-between;
  }

  .contents.pro3 .style_guide .style_con > * {
    width: calc(100% / 2);
  }

  .contents.pro3 .color_con span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
  }

  .contents.pro3 .style_guide .grid_width {
    width: 100%;
  }

  .contents.pro3 .sub_re .inner {
    display: flex;
    flex-direction: column-reverse;
  }

  .contents.pro3 .sub_re h3 {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
